<div class="body">
  <div class="main-header">
    <div>
      <img src="../../assets/img/logo1.png" (click)="onClickRouterToHome()">
      <div class="login-register">
        <a routerLink="/register-login" (click)="onClickLogin(true)">登录</a>
        <span>|</span>
        <a routerLink="/register-login" (click)="onClickLogin(true)">注册</a>
      </div>
    </div>

  </div>
  <div class="main-bg">
    <div class="title">行业<span>资讯</span></div>
    <div class="industry">INDUSTRY</div>
  </div>
  <div class="content">
    <div class="content-info" *ngFor="let item of industryArray">
      <span></span>
      <div class="content-title">{{item.title}}</div>
      <div class="delivery-time">{{item.deliveryTime}}</div>
      <div class="content-text">
        {{item.text}}
      </div>
      <div class="more-button"><a routerLink="/about-us/basic-info" (click)="onClickAlert()">more</a></div>
      <div class="line"></div>
    </div>
  </div>
  <app-footer></app-footer>
</div>


